@import url(https://fonts.googleapis.com/css?family=Arimo);
body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Arimo";
  font-size: 40px;
  color: rgb(73, 73, 73);
  text-align: center;
}

h2 {
  font-family: "Arimo";
  font-size: 30px;
  color: rgb(73, 73, 73);
  text-align: center;
}

p {
  font-family: "Arimo";
  font-size: 20px;
  color: rgb(73, 73, 73);
}

a {
  text-decoration: none;
}

a.NavButton {
  text-decoration: none;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Arimo";
  color: rgb(73, 73, 73);
  padding: 0;
  font-size: 30px;
  transition: transform 1s;
}

a.NavButton:hover {
  color: rgb(102, 100, 100);
  scale: 110%;
  transform: translateY(-5px);
}

.left {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0%;
  position: sticky;
  left: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-content: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: grey;
}

.AlertsList {
  margin-left: 30px;
  margin-right: 30px;
  border-color: black;
  border-style: solid;
  border-bottom-style: none;
}

.AlertBox {
  border-bottom-style: solid;
  border-bottom-color: black;
}

.AlertBox p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.StandaloneAlertBox {
  margin-left: 30px;
  margin-right: 30px;
  border-style: solid;
  border-color: black;
}

.StandaloneAlertBox p {
  margin-top: 10px;
  margin-bottom: 10px;
}

option {
  font-size: 30px;
  font-family: "Arimo";
}

select {
  font-size: 30px;
  cursor: pointer;
  margin: 0;
}

.menu1 {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
  /* align-content: end; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
}
.menu2 {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  /* align-content: start; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
}

button {
  font-family: "Arimo";
  font-size: 40px;
  color: rgb(73, 73, 73);
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  border-color: black;
}

footer {
  background-color: white;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  width: 100%;
  left: 0%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: grey;
}

.center {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

input {
  font-size: 20px;
}

.popup {
  width: 100vw;
  height: 100vh;
  top: 0%;
  display: none;
  position: fixed;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0;
  z-index: 1;
  background-color: rgba(73, 73, 73, 0.774);
}

.popupmenu {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  background-color: aliceblue;
  overflow-y: scroll;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: rgb(211, 211, 211);
}

input[type="checkbox"] {
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  background-color: #fff;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

.box {
  border-color: black;
  border-style: solid;
  max-width: 50%;
  border-width: 5px;
  border-radius: 20px;
}

.right {
  display: flex;
  justify-content: right;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

iframe {
  border-radius: 20px;
  width: 60vw;
  height: auto;
  aspect-ratio: 16/9;
}

.roadmapbox {
  border-color: gray;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  background-color: transparent;
}

.roadmapbox h1 {
  font-size: 2rem;
  text-align: start;
  margin: 0%;
  margin-top: 5px;
}

.roadmapbox p {
  font-size: 1.3rem;
  text-align: start;
  margin: 0%;
  margin-top: 5px;
}

.bottombar {
  background-color: white;
  border-style: solid;
  border-color: black;
  display: flex;
  border-width: 2px;
  padding: 5px;
  position: absolute;
  bottom: 1%;
  left: 1%;
  z-index: 1;
}

.TextHolder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0%;
  padding: 0%;
  margin-left: 10px;
  margin-right: 10px;
}

.TextHolder p {
  margin: 0%;
  text-align: center;
}

.Round {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.outlookoptionholder {
  margin: 0%;
  padding: 0%;
  top: 0%;
  width: 100vw;
  position: absolute;
  display: flex;
  z-index: 1;
  justify-content: end;
}

.Round select {
  margin: 5px;
  border-style: solid;
  background-color: whitesmoke;
  border-radius: 10px;
}

select.outlooks option {
  border-radius: 20px;
  font-size: 2rem;
}

.space {
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  width: 100vw;
  justify-content: space-around;
  flex-wrap: wrap;
}

.outlookHolder {
  padding: 1;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
}

.outlookHolder h1 {
  text-align: start;
  font-size: 1.5rem;
  margin: 0%;
  margin-left: 5px;
  margin-bottom: 10px;
}
